@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";

}
<h1>Restaurants</h1>

@foreach (var r in Model.Restaurants)
{
    @Html.Partial("_Summary", r)
}

    <div>        
        <a asp-action="create" class="btn btn-default" class="btn btn-primary">Create</a>
    </div>

@section footer
{
    <span>@Model.MessageOfTheDay</span>
}